/* Gerneral */
html {
  font-family: arial, sans-serif;
  font-size: small;
}

/* Nav */
#menu {
  background: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png')
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  padding: 0;
  margin-right: 8px;
}

#notification {
  width: 23px;
  height: 25px;
  position: relative;
  top: 6px;
  padding: 0;
  margin-right: 8px;
}

.nav button {
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid #4387fd;
  border-radius: 2px;
  background-color: #4387fd;
  color: white;
  font-weight: bold;
}

header {
  float: right;
  margin-bottom: -88%;
}

/* UL LI A SECTION */
ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 9px;
  color: #666;
}

a {
  text-decoration: none;
}

a:visited {
  color: mediumpurple;
}

/* BODY */

.logo {
  max-height: 200px;
  display: auto;
  margin-left: 62.5em;
  margin-right: auto;
  padding-top: 11%;
  padding-bottom: 9px;
}

#search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  width: 600px;
  border: 1px solid lightgray;
}

#search:hover {
  border: 1px solid lightgray;
}

#search:focus {
  border: 1px solid lightblue;
  outline-color: lightblue;
}

#button {
  margin-top: 20px;
  height: 40px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  outline: none;
  font-size: 13px;
  font-weight: bold;
}

#button:hover, button:focus {
  margin-top: 20px;
  height: 40px;
  background-color: #f2f2f2;
  outline: black;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

/* FOOTER */

#fbar {
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  min-width: 780px;
}

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

}
